In [29]:
import pandas as pd

In [30]:
beatles_spotify_csv = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRCv45ldJmq0isl2bvWok7AbD5C6JWA0Xf1tBqow5ngX7_ox8c2d846PnH9iLp_SikzgYmvdPHe9k7G/pub?output=csv'

beatles_spotify = pd.read_csv(beatles_spotify_csv)

In [31]:
beatles_spotify.columns.sort_values(ascending=False).to_list()

['year',
 'valence',
 'speechiness',
 'song',
 'liveness',
 'id',
 'energy',
 'duration_ms',
 'danceability',
 'album',
 'acousticness']

In [32]:
new_col_order = ['year', 'id', 'duration_ms']
bs_selected_cols = beatles_spotify[new_col_order]
bs_selected_cols

     year   id  duration_ms
0    1963    1       173947
1    1963    2       108547
2    1963    3       177133
3    1963    4       145080
4    1963    5       146440
..    ...  ...          ...
188  1970  189       217560
189  1970  190       173960
190  1970  191       218187
191  1970  192       152213
192  1970  193       189387

[193 rows x 3 columns]

In [40]:
beatles_spotify['album'][:].value_counts()

album
The Beatles (white album)                30
Abbey Road                               17
Please Please Me                         14
With The Beatles                         14
Beatles for Sale                         14
Help!                                    14
Rubber Soul                              14
Revolver                                 14
A Hard Day's Night                       13
Sgt. Pepper's Lonely Hearts Club Band    13
Yellow Submarine                         13
Let It Be                                12
Magical Mystery Tour                     11
Name: count, dtype: int64

In [47]:
beatles_spotify.loc[beatles_spotify['danceability'].astype(float).between(0.000, 0.500, 'right'), 'Dance Tune'] = 0
beatles_spotify.loc[beatles_spotify['danceability'].astype(float).between(0.501, 1.000, 'right'), 'Dance Tune'] = 1
beatles_spotify[['song', 'danceability', 'Dance Tune']].sample(20)

                                     song  danceability  Dance Tune
108  sgt. Peppers lonely hearts club band         0.653         1.0
149                          revolution 9         0.208         0.0
182                            dig a pony         0.538         1.0
91                 and your bird can sing         0.555         1.0
65                   tell me what you see         0.592         1.0
128               happiness is a warm gem         0.431         0.0
68                       dizzy miss lizzy         0.373         0.0
133                         rocky raccoon         0.599         1.0
165                             something         0.396         0.0
101                         fixing a hole         0.469         0.0
74                               the word         0.590         1.0
155                      its all too much         0.390         0.0
43                         babys in black         0.374         0.0
158                           sea of time         0.237         0.0
87             here, there and everywhere         0.290         0.0
30                              If I Fell         0.665         1.0
100                        getting better         0.632         1.0
106                           lovely rita         0.610         1.0
78                 im looking through you         0.667         1.0
186                             let it be         0.443         0.0

In [33]:
beatles_billboard_csv = 'https://raw.githubusercontent.com/inteligentni/Class-05-Feature-engineering/master/The%20Beatles%20songs%20dataset%2C%20v1%2C%20no%20NAs.csv'

beatles_billboard = pd.read_csv(beatles_billboard_csv)

In [34]:
beatles_billboard.sample(20)

,Title,Year,Album.debut,Duration,Other.releases,Genre,Songwriter,Lead.vocal,Top.50.Billboard
172,Madman,1969,NaN,197,0,"Rock, Pop/Rock",Lennon,Lennon,-1
186,Mr. Moonlight,1964,UK: Beatles for Sale US: Beatles '65,155,17,"Folk Rock, Pop/Rock",Johnson,Lennon,-1
44,Come and Get It,1969,Anthology 3,142,0,"Power Pop, Pop/Rock",McCartney,McCartney,-1
184,Moonlight Bay,1963,Anthology 1,150,0,Pop/Rock,"Percy Wenrich, Edward Madden","Lennon, McCartney, Harrison, Eric Morecambe, E...",-1
191,Not Guilty,1968,Anthology 3,215,0,"Jazz-Pop, Pop/Rock",Harrison,Harrison,-1
3,A Shot of Rhythm and Blues,1963,Live at the BBC,104,0,"R&B, Pop/Rock",Thompson,Lennon,-1
57,Don't Bother Me,1963,UK: With the Beatles US: Meet The Beatles!,149,11,"Rock and Roll, Pop/Rock",Harrison,Harrison,-1
35,Carol,1963,Live at the BBC,150,0,"Rock and Roll, Pop/Rock",Berry,Lennon,-1
307,You've Really Got a Hold on Me,1963,UK: With the Beatles US: The Beatles Second Album,182,2,"Soul, Pop/Rock",Robinson,Lennon and Harrison,-1
115,I Saw Her Standing There,1963,UK: Please Please Me US: Meet The Beatles!,175,42,"Rock and Roll, Pop/Rock","McCartney, with Lennon","McCartney, with Lennon",36
289,Winston's Walk,1960,NaN,150,0,NaN,Lennon,NaN,-1
175,"Mailman, Bring Me No More Blues",1969,Anthology 3,116,0,Pop/Rock,"Row, Katz, Roberts, Clayton",Lennon,-1
52,Dig a Pony,1969,Let It Be,232,12,"Blues Rock, Pop/Rock",Lennon,Lennon,-1
100,Hold Me Tight,1963,UK: With the Beatles US: Meet The Beatles!,152,16,"Rock & Roll, Pop/Rock","McCartney, with Lennon",McCartney,-1
187,My Bonnie,1961,Anthology 1,150,13,"Rock and Roll, Pop/Rock","Traditional, arr. Sheridan",Sheridan,45
10,All Things Must Pass,1969,Anthology 3,227,0,"Folk Rock, Pop/Rock",Harrison,Harrison,-1
299,You Know My Name (Look Up the Number),1967,UK: Rarities US: Rarities,261,4,"Comedy Rock, Jazz, Experimental Rock, Avant-Ga...","Lennon, with McCartney",Lennon and McCartney,-1
104,I Am the Walrus,1967,Magical Mystery Tour,273,20,"Psychedelic Rock, Acid Rock, Experimental Rock...",Lennon,Lennon,-1
259,The Inner Light,1968,UK: Rarities US: Rarities,156,10,"Indian Music, Raga Rock, Pop/Rock",Harrison,Harrison,-1
36,Carry That Weight,1969,Abbey Road,96,5,"Symphonic Rock, Pop/Rock",McCartney,"McCartney, with Lennon, Harrison and Starkey",-1

In [37]:
bb = beatles_billboard
bb.rename(columns = {'Album.debut':'album'})
bb['Date'] = bb['Year']
bb.sample(5)

,Title,Year,Album.debut,Duration,Other.releases,Genre,Songwriter,Lead.vocal,Top.50.Billboard,Date
31,Blue Jay Way,1967,Magical Mystery Tour,235,13,"Psychedelic Rock, Pop/Rock",Harrison,Harrison,-1,1972
48,"Crying, Waiting, Hoping",1963,Live at the BBC,130,0,"Rock and Roll, Pop/Rock",Buddy Holly,Harrison,-1,1968
144,In Spite of All the Danger,1958,Anthology 1,164,0,"Skiffle, Blues, Rock and Roll, Pop/Rock",McCartney and Harrison,Lennon,-1,1963
28,Being for the Benefit of Mr. Kite!,1967,Sgt. Pepper's Lonely Hearts Club Band,157,7,"Experimental Rock, Psychedelic Rock, Circus, P...","Lennon, with McCartney",Lennon,-1,1972
222,Sexy Sadie,1968,The Beatles,195,11,Pop/Rock,Lennon,Lennon,-1,1973

In [35]:
# find the minimum and the maximum value in the given column:
min_value = beatles_billboard['Duration'].min()
max_value = beatles_billboard['Duration'].max()
# create labels for the bins
labels = ['short', 'medium', 'long']